<script setup>
import { THEME, TonConnectUI } from '@tonconnect/ui'
import { ref } from 'vue';

const tonConnectUI = new TonConnectUI({
    manifestUrl: 'https://raw.githubusercontent.com/purplemeth/presalebot/main/tonconnect-manifest.json'
})

tonConnectUI.uiOptions = {
    language: 'en',
    uiPreferences: {
        theme: THEME.DARK
    }
}

const donate = async(amount) => {
    if (tonConnectUI.connected) {
        try {
            const transaction = {
                validUntil: Math.floor(Date.now() / 1000) + 60,
                messages: [
                    {
                        address: 'UQCML_jfTIXOcP9_cFfhV1f2Ow3dJPltsQOiqv89Tw7VRjOh',
                        amount: amount * 10 ** 9,
                    }
                ]
            }
            const result = await tonConnectUI.sendTransaction(transaction);
            console.log("Transaction result:", result);
        } catch(error) {
            console.log(error)
        }
    } else {
        await tonConnectUI.openModal();
    }
}

const d = ref([
    {
        id: 0,
        name: 'Pavel',
        ton: 100,
        place: 1
    },
    {
        id: 1,
        name: 'Techno',
        ton: 80,
        place: 2
    },
    {
        id: 2,
        name: 'Greener',
        ton: 78.8,
        place: 3
    },
    {
        id: 3,
        name: 'TRUMP',
        ton: 75,
        place: 4
    }
])

</script>

<template>
    <main style="height: 100vh; align-items: center; display: grid;">
        <div class="donate">
            <nav style="padding: 10px; display: grid; gap: 15px;">
                <div>
                    <h1 class="lb">Leaderboard</h1>
                </div>
                <div class="leader">
                    <div style="min-height: 100px; align-items: center; display: flex;">
                        <div style="background: aliceblue; padding: 2px; border-radius: 50px; display: flex; align-items: center;">
                            <img width="70px" height="70px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/1200px-Telegram_logo.svg.png" />
                        </div>
                    </div>
                    <div style="min-height: 100px; align-items: flex-start; display: flex;">
                        <div style="background: gold; padding: 2px; border-radius: 50px; display: flex; align-items: center;">
                            <img width="70px" height="70px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/1200px-Telegram_logo.svg.png" />
                        </div>
                    </div>
                    <div style="min-height: 100px; align-items: center; display: flex;">
                        <div style="background: orange; padding: 2px; border-radius: 50px; display: flex; align-items: center;">
                            <img width="70px" height="70px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/1200px-Telegram_logo.svg.png" />
                        </div>
                    </div>
                </div>
            </nav>
            <section style="display: grid; align-items: center; padding: 10px;">
                <nav style="column-count: 3;">
                    <div v-for="(item, index) in nft" :key="index">
                        <div class="card" @click="open(index)">
                            <p>{{ item.nft_name }}</p>
                            <p>{{ item.nft_price }}</p>
                            <p>{{ item.nft_img }}</p>
                        </div>
                    </div>
                </nav>
            </section>
        </div>
    </main>
    <div class="popup" @click="close($event)">
        <div class="modal">
            {{ nft_item }}
        </div>
    </div>
    <section v-if="true" class="top-donate">
        <nav class="main-board">
            <ul class="refs">
                <li v-for="(donater) in d" :key="donater.id">
                    <div class="about">
                        <div>
                            <div style="width: 40px; height: 40px; background: red; border-radius: 20px"></div>
                        </div>
                        <div>
                            <h3 style="font-family: Quicksand; color: #fff;">{{ donater.name }}</h3>
                            <p style="padding: 0; font-size: 14px; color: #aaaaaa; background: 0;">{{ donater.place }}</p>
                        </div>
                    </div>
                    <div style="display: grid; align-items: center;">
                        <h1 style="font-family: Quicksand; font-size: 20px; font-weight: 500; color: #fff;">{{ donater.ton }}</h1>
                    </div>
                </li>
            </ul>
        </nav>
    </section>
</template>

<style scoped>
.card {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #212121;
    border-radius: 10px;
    margin-bottom: 10px;
    min-height: 120px;
}

.leader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.lb {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.donate {
    display: grid;
    align-items: center;
}

.popup {
    position: absolute;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    background: #00000099;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s;
}

.modal {
    width: 200px;
    height: 200px;
    background: #232323;
    border-radius: 20px;
}

.top-donate {
    display: grid;
    height: 70vh;
    width: 100vw;
    background: #1b1b1b;
    position: absolute;
    bottom: 0;
}

.refs {
  margin-top: 15px;
  padding: 0;
}

.refs li {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: #181818;
  border-radius: 15px;
}

.about {
    display: flex;
    gap: 10px;
    align-items: center;
}
</style>

<script>
const nft = [
    {
        nft_name: 'NFT 1',
        nft_price: 10,
        nft_img: 'default'
    },
    {
        nft_name: 'NFT 2',
        nft_price: 10,
        nft_img: 'default'
    },
    {
        nft_name: 'NFT 3',
        nft_price: 10,
        nft_img: 'default'
    },
    {
        nft_name: 'NFT 4',
        nft_price: 10,
        nft_img: 'default'
    },
    {
        nft_name: 'NFT 5',
        nft_price: 10,
        nft_img: 'default'
    },
    {
        nft_name: 'NFT 6',
        nft_price: 10,
        nft_img: 'default'
    },
    {
        nft_name: 'NFT 7',
        nft_price: 10,
        nft_img: 'default'
    },
    {
        nft_name: 'NFT 8',
        nft_price: 10,
        nft_img: 'default'
    },
    {
        nft_name: 'NFT 9',
        nft_price: 10,
        nft_img: 'default'
    },
]

export default {
    data() {
        return {
            nft: nft,
            nft_item: 0,
        }
    },
    methods: {
        open(i) {
            this.nft_item = i+1
            document.querySelector('.popup').style.display = 'grid'
            setTimeout(() => {
                document.querySelector('.popup').style.opacity = '1'
            }, 100)
        },
        close(e) {
            if (e.target) {
                document.querySelector('.popup').style.opacity = '0'
                document.querySelector('.popup').style.display = 'none'
            }
        }
    }
}

</script>